<!DOCTYPE html>
<html>
  <head>
    <title>Contact AK</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="/images/chat.png" />
  </head>
  <body>
    <center>
      <br>
      <br>
      <span>♕</span>
      <h1>Contact AK</h1>
    <form method="post" action="/submit">
      <label for="username">Full Name : </label>
      <input type="text" id="username" name="username" minlength="5" maxlength="30" spellcheck="false" required><br><br>
      <div>
      <label for="message">Message : </label>
      <textarea id="message" name="message" minlength="10" required></textarea>
      </div><br><br>
      <input type="submit" value="Submit">
    </form>
    </center>
  </body>
</html>
