<!DOCTYPE html>
<html>
    <head>
        <title>Submitted !</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="icon" href="/images/chat.png" />
    </head>
    <body>
        <center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <h1>Successfully submitted !</h1>
        <center>
    </body>
</html>